@import "@/assets/scss/variables.scss";
.polls-body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-color: #eff0ea;
  padding: 2rem 3rem;
}
.polls-container {
  background-color: white;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 5px 10px #adacac;
  border-top: solid 5px $secondary-color;
}
.container-heading {
  font-size: 19px;
}
.polls-list {
  margin-top: 4%;
}
