.sidebar {
  width: 300px;
  position: fixed;
  box-shadow: 1px 0 20px -2px #888;
  padding-top: 2rem;
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .el-button {
    width: 90%;
  }
}
.dashboard-menu {
  margin-top: 3rem;
  .el-menu-item {
    font-size: 1rem;
    i {
      color: black;
      margin-right: 0.6rem;
    }
    span {
      font-weight: 700;
    }
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}
